<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Exam_2_Aayush_Bhurtel_CPSMA_4313.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization Exam 2

loading all the necessary libraries here.

In [1]:
import pandas as pd
import re
import numpy as np

References:


...

...

I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.''

a) (10 points) Store the data as a pandas dataframe. Examine each datatype and comment on the appropriateness of
each.

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv')
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [3]:
  df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

I think there are few datatypes that needs to be sorted. for example, activity_day should be stored in datetime object, avg_pace, max_pace, min_pace should be stored in float instead of object. I think calories should be in float too casue it might contain decimal numbers.

(b) (10 points) Remove the column that repeats the indexes and is ‘unnamed’ as a column.

=> I am going to use a drop function from pandas libarary. I am then going to pass column name as a parameter to specify which column to drop. At last, pandas will return an updated dataframe without the dropped column, which we store in our df object and we are done.

In [4]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

(c) (10 points) Clean the column names to remove the unit declaration, (%), using regular expressions. The column
name should not have any trailing spaces after cleaning. You will only receive partial credit for simply renaming
columns without using regular expressions.

=> Here I am using lambda and regular expression to remove unit declaration and rename the column names. I called rename function from a df object and passed a lambda function as a arguement. In my lambda function, I used regular expression to remove unit declaration (%) and checked for empty space.

In [5]:
df = df.rename(columns=lambda x: re.sub(r'[(.%)]','',x))

In [6]:
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

I checked for trailing spaces, there is none and I have exact names removing unit declaration.

(d) (10 points) Convert ‘activity day’ column into a datetime format.

In [7]:
df['activity_day'].dtype

dtype('O')

as we can see, activity_day is in object type. following code will convert object into datetime format.

In [8]:
df['activity_day'] = pd.to_datetime(df['activity_day'])

In [9]:
# rechecking activity_day format
df['activity_day'].dtype

dtype('<M8[ns]')

as we can see, now the dtype is changed into datetime format.

(e) (10 points) Impute ‘total steps’ by replacing the ‘NaN’s with an appropriate number of steps. Convert to appropriate
datatype.

In [10]:
df['total_steps'].dtype

dtype('float64')

first, I need to impute by replacing NaNs with appropriate number of steps. I am going to use fillna function to achieve this goal. Since this column has numerical values I can find the lowest value and fill the empty column values with that lowest steps someone has walked.

In [11]:
df['total_steps'].fillna(value=df['total_steps'].min(0), inplace=True)
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

(f) (10 points) Convert non-empty ‘avg pace’ into a float that is still representative of the information contained in the
column. Recall that there are 60 seconds in one minute so 3:30 is equivalent to 3.5 minutes.

I will be converting the object datatype into dateTimeIndex first and then use lambda function to calculate hour and minutes. datetimeindex has hour and minute function which returns exact hour and minutes from the dataset. Now, I will divide minute with 60 and add it to hour so that I will get a decimal value of total minutes. Finally, I use lambda function to apply this to all the values in avg_pace column.

In [12]:
df['avg_pace'].dtype

dtype('O')

In [13]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

(g) (10 points) Group data by ‘workout type’ and find the mean, median, count and standard deviation of ‘calories’.

=> I am going to use groupby function and pass workout_type column header to group dataframe data based on workout types. And then, I will use agg function to calculate mean, median, count and standard deviation of calories column by passing column name at the end of a agg syntax as below.

In [14]:
df.groupby('workout_type').agg(['mean', 'median', 'count', 'std'])['calories']

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

(h) (10 points) Create an indicator column that identifies if the activity achieved 30% or more ‘aerobic’ activity.

=> I am going to use numpy to achieve this result. Numpy has where() function which takes condition as a argument and True or False result. We want identifiers to identify if the aerobic activity is 30% or more.

In [ ]:
df['aerobic_indicator'] = np.where(df['aerobic'] >= 30, 'True', 'False')
df.head()


(i) (10 points) Which day of the week (Monday, Tuesday, etc.) and ‘workout type‘ has the maximum of the ‘max cadence’.

In [19]:
df

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,aerobic_indicator
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,...,NaN,138.0,166.0,110,7,0,5,21,88,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,1571.0,28.66,173.30,234.73,NaN,...,NaN,133.5,175.0,92,22,20,15,21,61,False
996,2022-02-14,Freestyle,9.48,61,219,1571.0,9.23,114.34,109.32,NaN,...,NaN,103.0,122.0,84,18,28,2,17,86,False
997,2022-02-14,Freestyle,3.30,40,169,1571.0,7.37,133.97,122.96,NaN,...,NaN,114.5,122.0,107,18,28,2,23,98,False
998,2022-02-14,Indoor Cycling,4.40,47,52,1571.0,10.75,147.65,116.51,NaN,...,NaN,96.0,90.0,102,45,32,0,13,57,True
999,2022-02-14,Indoor Cycling,1.57,116,106,1571.0,25.37,143.41,182.80,NaN,...,NaN,96.5,90.0,103,14,32,0,24,83,True