<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import requests
import pandas as pa
from bs4 import BeautifulSoup
import re

In [16]:
r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

as mentioned in the professor github, we can see issues in ft of first row. Here I am getting first row ft column.

In [17]:
df1.iloc[0,3]

'29,029[dp 7]'

In [18]:




re.sub(r"\D","",df1.iloc[0,3])

'290297'

here I am going to clean the headers of all the columns in the dataset

In [19]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

first, I am going to remove all the characters after the name like [dp 1] in Rank and more. I am using a lambda function to apply sub to all the headers.

In [20]:
header = df1.columns.map(lambda s: re.sub(r"\[(.+)\]","",s))
header

Index(['Rank', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates', 'Parent mountain', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

now, I am going to remove extra parenthesis from a second column header.

In [21]:
re.sub(r"\((.+)\)","",header[1])

'Mountain name'

here I am going to apply above removal to all of the header using lambda function.

In [22]:
header = header.map(lambda s: re.sub(r"\((.+)\)","",s))
header

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country '],
      dtype='object')

using strip

In [23]:
header = header.map(lambda s: s.strip())
header

Index(['Rank', 'Mountain name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent mountain', '1st', 'y', 'n', 'Country'],
      dtype='object')

there should be no spaces in the header name so I am going to replace space with underscore on second header

In [24]:
re.sub(r" ","_", header[1])

'Mountain_name'

try and apply above code to all of the headers using lambda function

In [25]:
header = header.map(lambda s: re.sub(r" ","_",s))
header

Index(['Rank', 'Mountain_name', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parent_mountain', '1st', 'y', 'n', 'Country'],
      dtype='object')

now displaying all database

In [27]:
df1.columns = header

In [28]:
df1.head()

  Rank  ...                  Country
0    1  ...               NepalChina
1    2  ...  Pakistan[dp 8]China[12]
2    3  ...               NepalIndia
3    4  ...               NepalChina
4    5  ...               NepalChina

[5 rows x 13 columns]

Header looks goooooooooood. onto next one.

# Describe last column and clean it

In [56]:
df2 = df1.iloc[:,-1]
df2

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country, Length: 120, dtype: object

using the techniques used above, I am goint ot remove all the extra expression other then letters in the column.

In [57]:
df2 = df2.apply(lambda x: re.sub(r"\[(.+)]","",x))
df2

0       NepalChina
1         Pakistan
2       NepalIndia
3       NepalChina
4       NepalChina
          ...
115          China
116     NepalChina
117    BhutanChina
118     IndiaChina
119       Pakistan
Name: Country, Length: 120, dtype: object

here I am going to use a findall method of re library to separate the countries from camelCase word.

In [58]:
df2 = df2.apply(lambda x: re.findall(r"[A-Z][a-z]*",x))
df2

0       [Nepal, China]
1           [Pakistan]
2       [Nepal, India]
3       [Nepal, China]
4       [Nepal, China]
            ...
115            [China]
116     [Nepal, China]
117    [Bhutan, China]
118     [India, China]
119         [Pakistan]
Name: Country, Length: 120, dtype: object