<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization

## Aayush Bhurtel

Quiz 17: ints and floats



Grab the iris dataset. Answer the following questions:

    Does converting SepalLength to integer increase or decrease the mean?
    Does the direction of the shift remain the same if you groupby Class?
    Gather the mean, median, count and standard deviation of all columns when grouped by Class.

In [14]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

I am going to get the mean of SepalLength in float

In [15]:
df.SepalLength.mean()

5.843333333333335

let me change the values in SepalLength into integers

In [17]:
df.SepalLength = df.SepalLength.astype('int')

Now let me get the mean of a new sepal length

In [10]:
df.SepalLength.mean()

5.386666666666667

changing the data type actually changed the value of a mean in decimal places.

let me display the dataset again.

In [11]:
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0            5         3.5          1.4         0.2  Iris-setosa
1            4         3.0          1.4         0.2  Iris-setosa
2            4         3.2          1.3         0.2  Iris-setosa
3            4         3.1          1.5         0.2  Iris-setosa
4            5         3.6          1.4         0.2  Iris-setosa

now let me group the dataset by class.

In [12]:
df.groupby('Class').head()

     SepalLength  SepalWidth  PedalLength  PedalWidth            Class
0              5         3.5          1.4         0.2      Iris-setosa
1              4         3.0          1.4         0.2      Iris-setosa
2              4         3.2          1.3         0.2      Iris-setosa
3              4         3.1          1.5         0.2      Iris-setosa
4              5         3.6          1.4         0.2      Iris-setosa
50             7         3.2          4.7         1.4  Iris-versicolor
51             6         3.2          4.5         1.5  Iris-versicolor
52             6         3.1          4.9         1.5  Iris-versicolor
53             5         2.3          4.0         1.3  Iris-versicolor
54             6         2.8          4.6         1.5  Iris-versicolor
100            6         3.3          6.0         2.5   Iris-virginica
101            5         2.7          5.1         1.9   Iris-virginica
102            7         3.0          5.9         2.1   Iris-virginica
103            6         2.9          5.6         1.8   Iris-virginica
104            6         3.0          5.8         2.2   Iris-virginica

now I am going to calculate