<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization

## Aayush Bhurtel

Quiz 17: ints and floats



Grab the iris dataset.

In [40]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/iris.csv')
df.head()

   SepalLength  SepalWidth  PedalLength  PedalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

I am going to get the mean of SepalLength in float

In [41]:
df.SepalLength.mean()

5.843333333333335

let me change the values in SepalLength into integers

In [42]:
df2 = df.SepalLength.astype('int')
df2

0      5
1      4
2      4
3      4
4      5
      ..
145    6
146    6
147    6
148    6
149    5
Name: SepalLength, Length: 150, dtype: int64

Now let me get the mean of a new sepal length

In [43]:
df.SepalLength.mean()

5.843333333333335

# Does converting SepalLength to integer increase or decrease the mean?
changing the data type actually changed the value of a mean in decimal places.

# Does the direction of the shift remain the same if you groupby Class?

lets work on that.

first let me display a dataset without grouping.

In [44]:
df

     SepalLength  SepalWidth  PedalLength  PedalWidth           Class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

now let me group our dataset by "Class" and display it.

In [45]:
df.groupby("Class").head()

     SepalLength  SepalWidth  PedalLength  PedalWidth            Class
0            5.1         3.5          1.4         0.2      Iris-setosa
1            4.9         3.0          1.4         0.2      Iris-setosa
2            4.7         3.2          1.3         0.2      Iris-setosa
3            4.6         3.1          1.5         0.2      Iris-setosa
4            5.0         3.6          1.4         0.2      Iris-setosa
50           7.0         3.2          4.7         1.4  Iris-versicolor
51           6.4         3.2          4.5         1.5  Iris-versicolor
52           6.9         3.1          4.9         1.5  Iris-versicolor
53           5.5         2.3          4.0         1.3  Iris-versicolor
54           6.5         2.8          4.6         1.5  Iris-versicolor
100          6.3         3.3          6.0         2.5   Iris-virginica
101          5.8         2.7          5.1         1.9   Iris-virginica
102          7.1         3.0          5.9         2.1   Iris-virginica
103          6.3         2.9          5.6         1.8   Iris-virginica
104          6.5         3.0          5.8         2.2   Iris-virginica

# Does the direction of the shift remain the same if you groupby Class?

=> From above output, I have to say "YES" because both output looks simillar and there is no change

# Gather the mean, median, count and standard deviation of all columns when grouped by Class.

Here I am going to group the dataset by "Class" and use a *describe()* to calculate mean, median, count and standard deviation of all the columns.

In [46]:
df.groupby("Class").describe()

                SepalLength                        ... PedalWidth
                      count   mean       std  min  ...        25%  50%  75%  max
Class                                              ...
Iris-setosa            50.0  5.006  0.352490  4.3  ...        0.2  0.2  0.3  0.6
Iris-versicolor        50.0  5.936  0.516171  4.9  ...        1.2  1.3  1.5  1.8
Iris-virginica         50.0  6.588  0.635880  4.9  ...        1.8  2.0  2.3  2.5

[3 rows x 32 columns]

This is too much information so I will try and calculate only those `mean`, `median`, `count` and `std` using agg method by passing argument of those string values.

In [51]:
df.groupby("Class").agg(['mean','median','count','std'])

                SepalLength               ... PedalWidth
                       mean median count  ...     median count       std
Class                                     ...
Iris-setosa           5.006    5.0    50  ...        0.2    50  0.107210
Iris-versicolor       5.936    5.9    50  ...        1.3    50  0.197753
Iris-virginica        6.588    6.5    50  ...        2.0    50  0.274650

[3 rows x 16 columns]