<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization
## Aayush Bhurtel

Examine the average trip on Austin bike share grouping by property_type column from the bikeshare_stations table. Is average time on trips starting from 'parkland' longer than from 'sidewalks'?

In [2]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated!')

Authenticated!

trying to LEFT OUTER JOIN two tables and display the dataset

In [64]:
%%bigquery --project data-viz-big-query

SELECT station_id, start_station_name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` as bike_station LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as bike_trips ON station_id = start_station_id
GROUP BY station_id, start_station_name, property_type
LIMIT 5

   station_id          start_station_name property_type
0        2576           Rainey @ River St          None
1        2712     Toomey Rd @ South Lamar          None
2        3381  East 7th & Pleasant Valley          None
3        3464                  Pease Park          None
4        1001                 Main Office          None

Here I am only selecting a group of data based on property_type and their average time.

In [74]:
%%bigquery --project data-viz-big-query

SELECT property_type, AVG(duration_minutes) as average_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations` as bike_station LEFT OUTER JOIN `bigquery-public-data.austin_bikeshare.bikeshare_trips` as bike_trips ON station_id = start_station_id
GROUP BY property_type
ORDER By average_time DESC

          property_type  average_time
0    nonmetered_parking     52.460188
1              parkland     40.986955
2                           33.502832
3              sidewalk     31.453320
4          paid_parking     28.032322
5  undetermined_parking     26.095560
6                  None     25.146568

FROM above output I can say that average time from parkland is longer then average time from sidewalk.