<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization
## Aayush Bhurtel
 missing and incomplete dataset

lets grab a Air B&B dataset to work on it.

In [92]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv')

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

 # Examine how many entries are null. Impute for atleast two columns that are null in an approriate fashion.

 here I am using `isna()` function to figure out the NULL values in our dataset. Then I sum those value to find out total null values in our entire dataset.

In [93]:
# we could use isnull() as well
# df.isnull().sum(axis = 0)

df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

above output shows the null values in name, host_name, last_review, and reviews_per_month.

I figured out the missing data now its time to deal with it. I could remove, replace or keep it as it is.

In this assignment, I am going to impute (replace) two columns.

First one is reviews_per_month

This column has float values so we could replace null with the mean from all other existing values. Here I am using `fillna()` function to fill the null value with mean() function.

In [94]:
df['reviews_per_month'].fillna(value=df['reviews_per_month'].mean(), inplace=True)

In [ ]:
df

let us recheck using `isna()` function whether the null values are replaced in `reviews_per_month` or not.

In [95]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

as we can see number_of_reviews is zero so all the null values are replaced by average of existing non-null values from same column.

Now let us deal with last review which has date values and null values. Unfortunately, last_review is of object datatype so first let me convert it into dateTime dataType and fill the empty spaces with current date. 

I have no idea why would someone fill last review by current date but I am going to do it.

In [96]:
# convert last_review of object datatype into DateTime dataType
df['last_review'] = pd.to_datetime(df['last_review'])

let me check if the datatype has changed or not.

In [97]:
df['last_review'].dtypes

dtype('<M8[ns]')

I did not know that <MB[ns] is also a datetime object but after few searches I can comclude that I successfully converted object into datetime.

Now let me replace the  null values in last_review with current date.

In [98]:
import datetime as dt

year = dt.datetime.now().date().year
month = dt.datetime.now().date().month
day = dt.datetime.now().date().day
date = str(year) + '-' + str(month) + '-' + str(day)

df['last_review'].fillna(value= date, inplace =True)

In [ ]:
df

I could not find any method in datetime that only returns date so I created date using day, month, year and create a string with today's date.

let us make sure null values are filled with current's date.

In [101]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.210000,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.380000,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,2022-03-05,1.373221,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.640000,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.100000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,2022-03-05,1.373221,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,2022-03-05,1.373221,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,2022-03-05,1.373221,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,2022-03-05,1.373221,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,2022-03-05,1.373221,1,23

In [104]:
df.isna().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

okay, I successfully converted null in `last_review` with current date.