<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization
## Aayush Bhurtel
### Assignment: 3


I have used google cloud resource manager to create a cloud project which required billing information. I used a free trial to enable bigQuery API which I am going to use in this project.

here, I import google auth from google.colab and use auth object to authenticate myself as a user.

In [3]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

# How many entries in the dataset?

I have selected $data-viz-big-query$ from my sql workspace in google big query. I have used SELECT syntax to count total entries in austin_bikeshare dataset.

In [5]:
%%bigquery --project data-viz-big-query
SELECT 
  COUNT(*) as total_entries
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_entries
0        1424786

Now I am going to display 5 rows of data from the dataset above to understand what type of data are we playing with. This will help us to understand dataset and manipulate with it.

In [10]:
%%bigquery --project data-viz-big-query
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 5

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19

[5 rows x 9 columns]

# Compute the longest trip from 'duration_minutes'.

I am going to calculate the longest trip using MAX function in sql module. I already have a list of duration_minutes in my dataset so I can just use max and pass the duration_minutes which gives me the highest value in that column which is the longest trip.

In [14]:
%%bigquery --project data-viz-big-query
SELECT
MAX(duration_minutes) as Longest_trip
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   Longest_trip
0         34238

# Compute the average time for a trip

I am going to follow same process as above to calculate the average time for a trip. I will be using AVG function which calculates the average data from a dataset.

In [16]:
%%bigquery --project data-viz-big-query
SELECT 
AVG(duration_minutes) as average_time_taken
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   average_time_taken
0           30.870428