<a href="https://colab.research.google.com/github/aayushbhurtel/Data_Visualization/blob/main/Quiz18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization
## Aayush Bhurtel
One Hot Encoding

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

I am to convert neighbourhood_group and room_type into numberical data. 

First, let me identify the types in both columns.

In [ ]:
n_group = sorted(df.neighbourhood_group.unique())
n_group

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

In [ ]:
roomType = sorted(df.room_type.unique())
roomType

['Entire home/apt', 'Private room', 'Shared room']

Here, let me convert room_type into numerical data first using get_dummies function.

In [ ]:
pd.get_dummies(df.room_type)

       Entire home/apt  Private room  Shared room
0                    0             1            0
1                    1             0            0
2                    0             1            0
3                    1             0            0
4                    1             0            0
...                ...           ...          ...
48890                0             1            0
48891                0             1            0
48892                1             0            0
48893                0             0            1
48894                0             1            0

[48895 rows x 3 columns]

we can see from above result that there are three categories. when I apply get_dummies to these category, pandas will create a value of 1 if the category exist in that row and 0 if not. 

now lets add these into the dataframe.

In [ ]:
df1 = pd.concat([df,pd.get_dummies(df.room_type)],axis = 1)

df1 = df1.drop('room_type', axis = 1)

df1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Entire home/apt,Private room,Shared room
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,149,1,9,2018-10-19,0.21,6,365,0,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,225,1,45,2019-05-21,0.38,2,355,1,0,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,150,3,0,NaN,NaN,1,365,0,1,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,89,1,270,2019-07-05,4.64,1,194,1,0,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,80,10,9,2018-11-19,0.10,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,70,2,0,NaN,NaN,2,9,0,1,0
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,40,4,0,NaN,NaN,2,36,0,1,0
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,115,10,0,NaN,NaN,1,27,1,0,0
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,55,1,0,NaN,NaN,6,2,0,0,1
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,90,7,0,NaN,NaN,1,23,0,1,0

Now I am going to tranform neighbourhood_group using dictionary. first let me grab the categories in this column.

In [ ]:
n_group = sorted(df.neighbourhood_group.unique())
n_group

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

now lets build a dictionary and assign values to each of them.

In [ ]:
neighbourhoodGroupDict = {}

for i in range(5):
  neighbourhoodGroupDict[n_group[i]] = i

neighbourhoodGroupDict

{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}

lets count the total numbers in each category

In [ ]:
df.groupby('neighbourhood_group').neighbourhood.agg('count')

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
Name: neighbourhood, dtype: int64

let apply dictionary with a map so that we can put it back into a dataFrame.

In [ ]:
df.neighbourhood_group.map(neighbourhoodGroupDict)

0        1
1        2
2        2
3        1
4        2
        ..
48890    1
48891    1
48892    2
48893    2
48894    2
Name: neighbourhood_group, Length: 48895, dtype: int64

finally putting it back into a df1 with room_type categorial values.

In [ ]:
df1.neighbourhood_group = df.neighbourhood_group.map(neighbourhoodGroupDict)
df1.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Entire home/apt,Private room,Shared room
0,2539,Clean & quiet apt home by the park,2787,John,1,Kensington,40.64749,-73.97237,149,1,9,2018-10-19,0.21,6,365,0,1,0
1,2595,Skylit Midtown Castle,2845,Jennifer,2,Midtown,40.75362,-73.98377,225,1,45,2019-05-21,0.38,2,355,1,0,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,2,Harlem,40.80902,-73.94190,150,3,0,NaN,NaN,1,365,0,1,0
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,1,Clinton Hill,40.68514,-73.95976,89,1,270,2019-07-05,4.64,1,194,1,0,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,2,East Harlem,40.79851,-73.94399,80,10,9,2018-11-19,0.10,1,0,1,0,0

done!